.mySwiper {
  position: relative;
  height: 470px;
  width: 85% !important;
  margin: auto; 
}

.caption {
  position: relative;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  text-align: center; 
}

/* Media Queries */
@media (max-width: 900px) {
  .mySwiper {
      height: 350px; 
      width: 90%; 
  }
  
  .caption {
      bottom: 15px; 
      font-size: 14px; 
  }
}

@media (max-width: 600px) {
  .mySwiper {
      height: 250px;
      width: 95%; 
  }
  
}

@media (max-width: 400px) {
  .mySwiper {
      height: 200px; 
      width: 100%; 
  }
  
  .caption {
      bottom: 5px;
      font-size: 10px; 
  }
}
