.cardProducts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
  }
  
  .product-card {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin: 1rem; 
    box-shadow: 0 4px 7px rgba(28, 29, 28, 0.897);
  }
  
  .product-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }