.ctn-productos {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  border: 1px dashed black;
  justify-content: center;
  width: 76% !important;
}
.card {
  margin: 1rem; 
  box-shadow: 0 4px 7px rgba(28, 29, 28, 0.897);
  
}
.card-img-top {
  object-fit: cover;
}
.footer {
  background-color: rgba(128, 128, 128, 0.7); 
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
}

.footer-logo img {
  max-width: 100px; 
}

.footer-contact {
  flex: 1;
  margin: 20px; 
  min-width: 250px; 
  max-width: 400px; 
}

.footer-contact h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.footer-contact form {
  display: flex;
  flex-direction: column;
}

.footer-contact label {
  margin-bottom: 5px;
}

.footer-contact input,
.footer-contact textarea {
  padding: 3px; 
  margin-bottom: 10px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px; 
  width: 90%; 
  box-sizing: border-box; 
}

.footer-contact button {
  padding: 8px;
  background-color: #007bff; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.footer-contact button:hover {
  background-color: #0056b3; 
}

.footer-location,
.footer-social {
  flex: 1;
  margin: 30px; 
  min-width: 250px;
}

.footer-social h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.footer-social a {
  display: flex;
  align-items: center;
  margin: 5px 0;
  text-decoration: none;
  color: #000;
}

.footer-social a .fa-icon-text {
  margin-left: 8px; 
}

.footer-bottom {
  margin-top: 20px;
  text-align: center;
  font-size: 12px; 
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center; 
  }
}


.vertical-nav {
  width: 250px;
  width: 10%;
  height: 95vh; 
  background-color: #ff90b5de;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 20px 0;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover {
  background-color: #575757;
  color: #ddd;
}

.nav-link.active {
  background-color: #575757;
  color: #ddd;
}

.nav-link.disabled {
  color: #aaa;
  pointer-events: none;
}
.containerCarrusel{
  max-height: 200px !important;
}