.custom-navbar {
  background-image: url("../img/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0.5rem 1rem; 
  height: 100px;
}

.custom-navbar .navbar-brand {
  color: #ffffff; 
  font-size: 30px !important;
  font-weight: bold; 
}

.custom-navbar .navbar-toggler {
  border-color: #e7dbdb; 
}

.imgLogo {
  width: 90px;
  height: 90px;
  border-radius: 100%;
}

.custom-navbar .nav-link {
  color: #0f0f0f;
  font-size: 20px; 
  margin: 0 0.5rem; 
}

.custom-navbar .nav-link:hover {
  color: #adb5bd; 
}

.custom-navbar .nav-dropdown .dropdown-menu {
  background-color: #fa63c8; 
  border: none; 
}

.custom-navbar .nav-dropdown .dropdown-item {
  color: #080808;  
}

.custom-navbar .nav-dropdown .dropdown-divider {
  background-color: #ffffff; 
}

/* Media Queries */
@media (max-width: 768px) {
  .custom-navbar {
      height: 80px; 
  }

  .custom-navbar .navbar-brand {
      font-size: 24px; 
  }

  .custom-navbar .nav-link {
      font-size: 18px; 
  }

  .imgLogo {
      width: 70px; 
      height: 70px; 
  }
}

@media (max-width: 480px) {
  .custom-navbar {
      padding: 0.5rem; 
  }

  .custom-navbar .navbar-brand {
      font-size: 20px; 
  }

  .custom-navbar .nav-link {
      font-size: 16px; 
  }

  .imgLogo {
      width: 60px; 
      height: 60px; 
  }
}
