.map-container {
    height: 400px;
    width: 100%; /* Make the map responsive */
    max-width: 800px; /* Set a maximum width */
    margin: 0 auto; /* Center the map */
    border: 2px solid #ccc; /* Optional: Add a border */
    border-radius: 8px; /* Optional: Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Shadow effect */
  }
  
  .leaflet-container {
    border-radius: 8px; /* Match map corners with container */
  }

  .btn-primary {
    background-color: #f80909c2; /* Custom background color */
    padding:10px ;
    border: none;
    color: white; /* Text color */
  }
  
  .btn-primary:hover {
    background-color: transparent; /* Transparent background on hover */
    color: #ffffff; /* Change text color on hover */
  }
  