.map-container {
    height: 400px;
    width: 100%; 
    max-width: 800px; 
    margin: 0 auto; 
    border: 2px solid #ccc; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  .leaflet-container {
    border-radius: 8px;
  }

  .btn-primary {
    background-color: #f80909c2; 
    padding:10px ;
    border: none;
    color: white; 
  }
  
  .btn-primary:hover {
    background-color: transparent; 
    color: #ffffff; 
  }
  

  

  .border-test{
    border:1px dash blueviolet;
  }

  .product-slider{
    max-height: 500px;
    height: 500px;
    overflow-y: hidden;
  }